---
// src/pages/dams.astro
import Layout from '../layouts/Layout.astro';
import EmailLink from '../components/EmailLink.astro';
import { url } from '../utils.js';
import '../styles/dams.css';

const title = "Our Dams - Southern Golden Retrievers";
const description = "Meet Lilly, Roux, and Raine - our tested, certified, and award-winning golden retriever dams in Knoxville, TN.";
---

<Layout title={title} description={description}>
    <div class="container">
        <section class="hero">
            <h1>Meet Our Dams</h1>
            <p>Each of our dams is health-tested, well-loved, and an important part of our family. Take a look at our favorit molments with them and at some of their pups.</p>
        </section>

        <section id="lilly" class="card dam-section">
            <h2>Lilly</h2>
            <img src={url('images/Lilly/lilly3.jpeg')}
                alt="An Image of Lilly in the Driveway"
                class="showcase-image">
            <p>Lilly’s description goes here.</p>
        </section>

        <section id="roux" class="card dam-section">
            <h2>Roux</h2>
            <img src={url('images/Roux/roux1.jpeg')}
                alt="An Image of Roux with Her Medal"
                class="showcase-image">
            <p>Roux's description goes here.</p>
        </section>

        <section id="raine" class="card dam-section">
            <h2>Raine (Retired)</h2>
            <img src={url('images/Raine/raine4.jpeg')}
                alt="An Image of Raine in the yard"
                class="showcase-image">
            <p>Raine's description goes here.</p>
        </section>
    </div>
</Layout>