---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import EmailLink from '../components/EmailLink.astro';
import { url } from '../utils.js';
import '../styles/index.css';

const title = "Southern Golden Retrievers";
const description = "Raised with Love. Backed by Excellence. See why our puppies are the perfect addition to your family.";
---

<Layout title={title} description={description}>
  <div class="container">
    <section class="hero">
      <h1>Raised with Love. Backed by Excellence.</h1>
      <p>See why our puppies are the perfect addition to your family.</p>
       <img src={url('images/Group/group2-2.jpeg')} 
       alt="Our Three Golden Retrievers" 
       class="showcase-image">
    </section>
    
    <div class="home-card-grid">
      <section class="card">
        <h2>Meet Our Moms</h2>
        <p>Lilly, Raine, and Roux are the three most beautiful, kind, and smart dogs we could ask for.<br> Award winning and loving, they have made great additions to our home.</p>
        <a href={url('dams')} class="btn">Learn More About Each Mom</a>
      </section>

      <section class="card">
        <h2>View Our Litters</h2>
        <p>See who is available in our current litter. See previous pups from the dam's gallery or our tesomonials.</p>
        <p>Right now, we have two litters. Take a look and reverse your future puppy today!<p>
        <a href={url('current-litters')} class="btn">Current Litter</a>
      </section>

      <section class="card">
        <h2>About Us</h2>
        <p>Interested in a pup? Contact us via email at <EmailLink showCopy={true}/> or look at our contact page.</p>
        <a href={url('Contact')} class="btn">Contact</a>
        <p>Curious about us and what we stand for. We invite you to learn more about us.</p>
        <a href={url('about')} class="btn">About</a>
      </section>
    </div>
  </div>
</Layout>